# Eclipse build configuration folders
/Debug/
/Release/

/linux-gcc-libfgeal-debug/
/linux-gcc-libfgeal-release/
/win32-mingw-libfgeal-debug/
/win32-mingw-libfgeal-release/

/linux-gcc-allegro5.0-debug/
/linux-gcc-sdl1.2-debug/
/linux-gcc-sdl2.0-debug/

# Eclipse local files
language.settings.xml
org.eclipse.cdt.codan.core.prefs
org.eclipse.cdt.core.prefs
org.eclipse.cdt.ui.prefs
org.eclipse.cdt.managedbuilder.core.prefs
org.eclipse.core.resources.prefs

# Saved map
saved_map.txt