# Eclipse build configuration folders
/Debug/
/Release/
/linux-gcc-debug/
/linux-gcc-release/
/win32-mingw-debug/
/win32-mingw-release/

# Eclipse local files
language.settings.xml
org.eclipse.cdt.codan.core.prefs
org.eclipse.cdt.core.prefs
org.eclipse.cdt.ui.prefs
org.eclipse.cdt.managedbuilder.core.prefs
org.eclipse.core.resources.prefs

# Saved map
saved_map.txt